/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
  --red: #ff0e0e;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  height: fit-content;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

header a {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
  color: #fff;
  text-decoration: none;
  fill: var(--red);
}

header a svg {
  max-width: 30px;
}

nav {
  width: 230px;
    display: flex;
    justify-content: space-between;
}
  
nav button {
  color: #fff;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

nav button.active {
  color: #c9c9c9;
  text-decoration: underline;
}

nav button:hover {
  color: #c9c9c9;
}

h1 {
  font-size: 4rem;
  line-height: initial;
}

h2 {
  font-size: 3rem;
}

.container.home {
  gap: 15px;
}

.container.menu div {
  max-width: 60vw;
  margin: 0 auto;
}

.container.menu div  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container.menu .menu-item {
  max-width: clamp(180px, 75%, 300px);
}

.menu-item {
  flex: auto;
}

.menu-item img {
  max-width: 300px;
}

#homeBtns {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#homeBtns button {
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#homeBtns button:first-child {
  color: #fff;
  background-color: var(--red);
}

#homeBtns button:hover {
  opacity: 0.8;
}