body {
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}